@keyframes fadein {
    0%{
        opacity: 0;
        transform: translateY(-30%);
    }
    100% {
        opacity: 1;
        transform: translateY(-5%);
    }
}

dialog {
    margin: 0 auto;
    background-color: lightblue;
    position: absolute;
    box-shadow: 20px 20px 40px 1px #656565;
    border-radius: 5%;
}

dialog[open] {
    animation: fadein 2s ease-in forwards;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

form {
    padding: 1rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

form h2 {
    font-weight: bold;
    font-style: italic;
    margin: 0 auto;
}

form hr {
    border: 5px solid red;
    border-radius: 10px;
}

form label {
    font-weight: bold;
    
}

form input {
    margin-right: 1rem;
}